doctype html
html
  head
    script(type='text/javascript', src='/js/comparator.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/underscore-min.js')
  body
    h1 Comparator v#{version}

